.movies-grid__card{
    margin-bottom: 20px;

}

.card{
    border-radius: 0px;
    height: 400px;
    width: 300px;
    margin: auto;
    background: #023047;
    &:hover {
        background: #ffb703;
    }    
    
}
.card-img{
    height: 320px;
}

.card-body{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 4px;

}

.card-title{
    overflow: hidden;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    
}


.movie-card__link{
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }    
}

@media screen and (min-width:575px){
    .card{
        width: 100%;
    }

}