.search__row{
    margin: 0;   
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.search__row__col{
    width: 50%;
}

.search__title{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.search__bar{
    margin-bottom: 30px;
}


.col-pagination-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-no-results{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    height: 50vh;
}