.spinner-loading {
  height: 100vh;
  width: 100%;
  background-color: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.spinner-border {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  vertical-align: -0.125em;
  border: 1em solid currentColor;
  color: #ffb703;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}
